.container{
    display: flex;
    flex-direction: column-reverse;
    height: 80vh;
}


.box{

    display: flex;
    flex-wrap: wrap-reverse;
    
    justify-content: center;

    border:1px dashed red;
    
    

}

.box div 
{
    border: 1px solid;
    width: 80px;
}


.box2{
    display:flex;
    flex-flow: column wrap;
    border: 1px;

}