li{
   position: relative;
}

li::after{
    content: " -*- ";
    width: 10px;
    height: 1px;
    background-color: blue;
    position: absolute;
    bottom: 0px;
}

p:nth-of-type(2)::first-line{
    color: pink;
}