/* footer.css */


body{
    min-height: 100vh;
    display: flex;

}


footer{
    margin-top: auto;
    flex-direction: column;

    
    background: lightgray;
    color:blue;

       

    flex:100%;

    display: flex;
    align-items: center;
    justify-content: center;


}